<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <!-- IP address of the Omnik Solar inverter with WiFi module -->
    <add key="OmnikAddress" value=""/>

    <!-- Serial number of the Omnik Solar inverter. You can find this by tapping the button on the Omnik Solar Inverter. It will display S/N with this number after a few taps. -->
    <add key="OmnikSerial" value=""/>

    <!-- API key for PVOutput. You need to manually explicitly enable API Access and generate this API key from the API Settings section on the Settings page of the PVOutput website -->
    <add key="PVOutputApiKey" value="" />
    
    <!-- System ID for solar panel set registered at PVOutput. You can find this at the bottom of the settings section of the PVOutput website. -->
    <add key="PVOutputSystemId" value="" />
  </appSettings>
</configuration>
